
<html>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
    <head>
        <title>H & K Wedding</title>
        <link href="../static/base.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="nav_bar">
        <div>
            WedWeb:
            <a href="{{ url_for('views.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <!-- Header -->
    <div class="header">
        <div class="block">
            <h1>Hannah & Kelton's<br>Wedding</h1>
        </div>
    </div>

    <!-- Navigation Bar -->
    <div class="info-blab">
      <p>When: May 21st. Where: Keystone, CO.</p>
    </div>


{% block content %}
{% endblock %}
    </body>

</html>