{% extends "base.html" %}

{% block content %}
    <h1>Create New LFG</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.max_members.label }}<br>
            {{ form.max_members(size=32) }}<br>
            {% for error in form.max_members.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.info.label }}<br>
            {{ form.info(size=512) }}<br>
            {% for error in form.info.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.group_type.label }}<br>
            {{ form.group_type }}<br>
            {% for error in form.group_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}