{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title> {{ guest.username }} </title>
</head>
<body>
    <h1>{{ guest.__str__() }}</h1>
    <ul>
        <li>Name: {{ guest.name }}</li>
        <li>Email: {{ guest.email }}</li>
        <li>Roles:
            {% if guest.roles %}
                <ul>
                {% for role in guest.roles %}
                    <li>{{ role }}</li>
                {% endfor %}
                </ul>
            {% else %}
                None
            {% endif %}
        </li>
        <li>Party:
            {% if guest.party %}
                <ul>
                {% for p in guest.party %}
                    <li>{{ p }}</li>
                {% endfor %}
                </ul>
            {% else %}
                None
            {% endif %}
        </li>
    </ul>

    <a href="{{ url_for('auth.edit_profile') }}">Edit</a>

</body>
</html>
{% endblock %}