{% extends "base.html" %}


{% block content %}
<head>
    <link href="static/base.css" rel="stylesheet" type="text/css">
</head>

<!-- Header -->
<div class="header">
  <h1>Hannah and Kelton's Wedding</h1>
</div>

<!-- Navigation Bar -->
<div class="info-blab">
  <p>A Quick Blab w/ essesntal info</p>
</div>

<!-- The flexible grid (content) -->
<div class="row">

  <div class="left">

    <div class="block">
        <p>RSVP Here</p>
    </div>

    <div class="block">
        <p>Dress Code</p>
    </div>

    <div class="block">
        <p>Registry</p>
    </div>

    <div class="block">
        <p>"IDK, leave blank if I think of something"</p>
    </div>

  </div> <!-- end left col -->

  <div class="right">

    <div class="block">
        <p>Location</p>
    </div>

    <div class="block">
        <p>Photos</p>
    </div>



  </div> <!-- end right side -->
</div>

{% endblock %}