<!-- index.html -->

{% extends "base.html" %}


{% block content %}
<head>
    <link href="static/base.css" rel="stylesheet" type="text/css">
    <link href="static/index.css" rel="stylesheet" type="text/css">
</head>

<div class="background">


    <div class="main">
        <div class = block>
            <h1><a href={{ url_for('auth.login') }}>Sign in</a></h1>
        </div>


        <div class="block">
            <h4><a href={{ url_for('auth.register') }}>Register</a></h4>
        </div>
    </div>
</div>






{% endblock %}