{% extends "base.html" %}


{% block content %}
<!-- photos.html -->

<head>
    <link href="static/base.css" rel="stylesheet" type="text/css">
    <link href="static/location.css" rel="stylesheet" type="text/css">
    <style> .background {background-image: url("static/images/flower_pic.png"); height: 2800px;} </style>
</head>


<div class="background">
    <div class='row'>
        <div class="col">
            <div class="block">
                <h2>Say Cheese!</h2>
                <a href="https://photos.app.goo.gl/hajYyP48UD6hbQDP9">Photo Album</a>
                    <p>
                        While we will have a professional photographer for the ceremony, we ask that guests take photos
                        of anything that strikes their interest, especially the reception, and add it to the Google Photos
                        album linked above. Thanks!!
                    </p>
            </div>
        </div>
    </div>
</div>    
{% endblock %}