{% extends "base.html" %}


{% block content %}
<!-- registry.html -->

<head>
    <link href="static/base.css" rel="stylesheet" type="text/css">
    <link href="static/location.css" rel="stylesheet" type="text/css">
    <style> .background {background-image: url("static/images/flower_pic.png"); height: 2800px;} </style>
</head>


<div class="background">
    <div class='row'>
        <div class="col">
            <div class="block">
                <h2>Registry</h2>
                    <p>
                        Due to us having to move, and being unsure as to where to we don't have a traditional registry.
                        Instead, we are asking for cash or gift cards. There is a my venmo tag is <em>kgb33</em> if you prefer digital transfers.
                    </p>
            </div>
        </div>
    </div>
</div>    
{% endblock %}