{% extends "base.html" %}


{% block content %}
<!-- registry.html -->

<head>
    <link href="static/base.css" rel="stylesheet" type="text/css">
    <link href="static/location.css" rel="stylesheet" type="text/css">
    <style>
        .background {background-image: url("static/images/flower_pic.png"); height: 2800px;}
        img {height: 200px;}
    </style>
</head>


<div class="background">
    <div class='row'>
        <div class="col">
            <div class="block">
                <h2>Registry</h2>
                    <p>
                        Due to us having to move, and being unsure as to where, we don't have a traditional registry.
                        Instead, we are asking for cash or gift cards. The venmo tag is <a href="https://venmo.com/code?user_id=2191636968767488671">kgb33</a>.
                    </p>
                <img alt="Venmo QR Code" src="static/images/venmo_tag.png">
            </div>
        </div>
    </div>
</div>    
{% endblock %}