* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}


.header {
  background-image: url("images/sitting_bench.jpg");
  background-color: #042a30;
  background-position: center bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%; /* Resize the background image to cover the entire container */
  height: 325px;
  padding: 75px 10px;
  text-align: center;
  color: #FFF;
}

.header .block {
  position: center;
  width: max-content;
  text-align: center;
  margin: auto;
  padding: 10px;
  overflow-wrap: break-spaces;
}


.info-blab, .nav_bar {
  padding-left: 20px;
  display: flex;
  background-color: #042a30;
  color: #7CC0AC;
  font-size: 20px;

}

.COVID-INFO {
  width: auto;
  text-align: center;
  margin: auto;
  display: flex;
  background-color: #ff0000;
  font-size: 40px;
}

.nav_bar a:link, a:visited {
  color: #7CC0AC;
}

.nav_bar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  color: #393D3F;
}


/* Sidebar/left column */
.left {
  flex: 50%;
}

/* Main column */
.right {
  flex: 50%;
}


.block {
  text-align: center;
  margin: 20px 30px;
  background: #5f934e;
  border: solid 3px black;
  opacity: 0.9;
  font-size: 20px;
}

.block a {
  display: block;
  padding: 1px;
}

.block a:link {
  color: #000;
  text-decoration: None;
}

.block a:visited {
  color: #000;
  text-decoration: None;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .info-blab {
    flex-direction: column-reverse;
  }
}