.background {
  background-image: url("images/dress_code_background.jpg"); /* The image used */
  background-color: #659DBD; /* Used if the image is unavailable */
  height: 1051px; /* You must set a specified height */
  background-position: center top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Main column */
.col {
  flex: 100%;
}
