.background {
  background-image: url("images/home_background.png"); /* The image used */
  background-color: #659DBD; /* Used if the image is unavailable */
  height: 1051px; /* You must set a specified height */
  background-position: center top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.header {
  background-image: url("images/sitting_bench.jpg");
  background-color: #042a30;
  background-position: center bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%; /* Resize the background image to cover the entire container */
  height: 325px;
  padding: 75px;
  text-align: center;
  color: #FFF;
}

.header .block{
  width: max-content;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.block {
  text-align: center;
  margin: 20px 30px;
  background: #5f934e;
  border: solid 3px black;
  opacity: 0.9;
  font-size: 20px;
}

.block a {
  display: block;
  padding: 1px;
}

a:link {
  color: #000;
  text-decoration: None;
}

a:visited {
  color: #000;
  text-decoration: None;
}

div.block:hover {
  box-shadow: 5px 10px 18px rgba(80, 99, 85, 0.51)
}

