<!-- /dress_code/groomsmen.html -->


{% extends "base.html" %}


{% block content %}
<head>
    <link href="static/base.css" rel="stylesheet" type="text/css">
    <link href="static/dress_code.css" rel="stylesheet">
    <style>li {list-style-type: none;}</style>
</head>

<div class="background">
<div class='row'>
        <div class="col">
            <div class="block">
                <h2>Dress Code -- Groomsmen</h2>
                    <p>
                        <ul>
                            <li>Black Suit</li>
                            <li>Black Dress Shoes</li>
                            <li>Math Bow-tie (will be provided)</li>
                            <li>Dress Shirt in one of the following colors</li>
                            <li><img alt="Dress Shirt Shades" src="static/images/dress_code/gm_shades.png"></li>
                        </ul>

                    If you have any questions please direct them to Hannah. Kelton will be happy to pass along any questions, but he knows nothing.
                    </p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}