{% extends "base.html" %}

{% block content %}
    <h1>Edit LFG</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <h6>Current Max Members: {{ lfg.max_members }}</h6>
            {{ form.max_members.label }}<br>
            {{ form.max_members(size=32) }}<br>
            {% for error in form.max_members.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3>Current Info: {{ lfg.info }}</h3>
            {{ form.info.label }}<br>
            {{ form.info(size=512) }}<br>
            {% for error in form.info.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3> Current Group Type: {{lfg.group_type }}</h3>
            {{ form.group_type.label }}<br>
            {{ form.group_type }}<br>
            {% for error in form.group_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}