<!-- /dress_code/default.html -->
{% extends "base.html" %}


{% block content %}
<head>
    <link href="static/base.css" rel="stylesheet" type="text/css">
    <link href="static/dress_code.css" rel="stylesheet">
    <style>p{
        padding-left: 10%;
        padding-right: 10%;
    }</style>
</head>

<div class="background">
<div class='row'>
        <div class="col">
            <div class="block">
                <h2>Dress Code</h2>
                    <h3>Semi-formal</h3>
                        <p>
                            Slacks and a blouse/button-up
                            Dresses or skirts
                            No need for ball-gowns and tuxes
                        </p>
                        <p>

                        Please keep in mind that we will be at about 10,000 feet in Colorado in May.
                        It will likely be in the 50s outside so please dress accordingly. The ceremony
                        will be held outside but the reception will be held inside. Layers are recommended.

                        </p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}